[% customer=input('customer: ') -%]
[% jivedb=input('jivedb: ') -%]
[% jivetable=input('jivetable: ') -%]
[% etltable=input('etltable: ') -%]
[% reformatxml=input('reformatxml( d means use default): ') -%]
[% graphfile=choice('which graphfile: ', 'dim_update.grf', 'dim_update_selectfile.grf', 'get_user_selectfile') -%]
[% IF reformatxml == 'd' -%]
[% reformatxml=[% jivetable %]_[% etltable %] %]
[% END -%]
